In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from tensorflow.keras.models import load_model
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# importing the model 
model = load_model('churn_model.h5')

with open('label_encoder_gender.pkl', 'rb') as file:    
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geography.pkl', 'rb') as file:    
    onehot_encoder_geography = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [6]:
data['Gender'] = label_encoder_gender.transform(data['Gender'])
geo_temp = onehot_encoder_geography.transform(data[['Geography']]).toarray()

In [7]:
geo_df = pd.DataFrame(geo_temp, columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [8]:
data = pd.concat([data.drop('Geography', axis=1), geo_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
#save the scaler
pickle.dump(scaler, open('regression_scaler.pkl', 'wb'))

In [11]:
model = Sequential(
    [
        Dense(64, input_shape=(X_train.shape[1],), activation='relu'),
        Dense(32, activation='relu'),
        Dense(1, activation='linear')
    ]
)

c:\Users\Raj Kumar\Desktop\Machine Learning\Deep Learning\Churn Model\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
from tensorflow.keras.optimizers import Adam

In [14]:
#compling the model
opt = Adam(learning_rate=0.001)
model.compile(optimizer=opt, loss='mean_absolute_error', metrics=['mae'])

In [15]:
# set up the tensorbooard
import datetime
log_dir = "logs_regression/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping
#set up early stpping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
## train the model 
model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test), callbacks=[early_stopping, tensorboard_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100561.5234 - mae: 100561.5234 - val_loss: 98478.2891 - val_mae: 98478.2891
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100044.5781 - mae: 100044.5781 - val_loss: 96821.4453 - val_mae: 96821.4453
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98086.1797 - mae: 98086.1797 - val_loss: 92640.3906 - val_mae: 92640.3906
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93934.9688 - mae: 93934.9688 - val_loss: 85778.0938 - val_mae: 85778.0938
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85088.8984 - mae: 85088.8984 - val_loss: 76939.4688 - val_mae: 76939.4688
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 75343.1875 - mae: 75343.1875 - val_loss: 67873.5781 - val_mae: 67873.5781
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 67333.1406 - mae: 67333.1406 - val_loss: 60196.6992 - val_mae: 60196.6992
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59085.9688 - mae: 59085.9688 - val_loss: 54937.4766 - val_mae: 54937.4766
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54523.9258 - mae: 54523.9258 - val_loss: 52085.5625 - val_mae: 52085.5625
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52553.9688 - mae: 52553.9688 - val_loss: 51016.9062 - val_mae: 51016.9062
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50572.3945 - mae: 50572.3945 - val_loss: 50699.1055 - val_mae: 50699.1055
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50368.8398 - mae: 50368.8398 - val_loss: 50609.1953 - val_mae: 50609.1953
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50274.3594 - mae: 50274.3594 - val_loss: 50576.5586 - val_mae: 50576.5586
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50468.0586 - mae: 50468.0586 - val_loss: 50552.3398 - val_mae: 50552.3398
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50692.5625 - mae: 50692.5625 - val_loss: 50528.1797 - val_mae: 50528.1797
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50124.7266 - mae: 50124.7266 - val_loss: 50511.1055 - val_mae: 50511.1055
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50752.8164 - mae: 50752.8164 - val_loss: 50492.0898 - val_mae: 50492.0898
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49875.5508 - mae: 49875.5508 - val_loss: 50462.1289 - val_mae: 50462.1289
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49892.3594 - mae: 49892.3594 - val_loss: 50445.0742 - val_mae: 50445.0742
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50140.0234 - mae: 50140.0234 - val_loss: 50442.0430 - val_mae: 50442.0430
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50042.0234 - mae: 50042.0234 - val_loss: 50431.9102 - val_mae: 50431.9102
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49625.8047 - mae: 49625.8047 - val_loss: 50419.5273 - val_mae: 50419.5273
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49681.9766 - mae: 49681.9766 - val_loss: 50405.5898 - val_mae: 50405.5898
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50199.1055 - mae: 50199.1055 - val_loss: 50401.6055 - val_mae: 50401.6055
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49874.1445 - mae: 49874.1445 - val_loss: 50383.7891 - val_mae: 50383.7891
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49801.5781 - mae: 49801.5781 - val_loss: 50374.5000 - val_mae: 50374.5000
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49833.2031 - mae: 49833.2031 - val_loss: 50356.7031 - val_mae: 50356.7031
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50221.3125 - mae: 50221.3125 - val_loss: 50348.9570 - val_mae: 50348.9570
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49591.1680 - mae: 49591.1680 - val_loss: 50354.5703 - val_mae: 50354.5703
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50500.8594 - mae: 50500.8594 - val_loss: 50339.1836 - val_mae: 50339.1836
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49486.2344 - mae: 49486.2344 - val_loss: 50335.1875 - val_mae: 50335.1875
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49296.0391 - mae: 49296.0391 - val_loss: 50343.1367 - val_mae: 50343.1367
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49982.4922 - mae: 49982.4922 - val_loss: 50335.6211 - val_mae: 50335.6211
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49739.1406 - mae: 49739.1406 - val_loss: 50311.6836 - val_mae: 50311.6836
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49241.0156 - mae: 49241.0156 - val_loss: 50308.3320 - val_mae: 50308.3320
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49564.6484 - mae: 49564.6484 - val_loss: 50308.5547 - val_mae: 50308.5547
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50237.5977 - mae: 50237.5977 - val_loss: 50301.9844 - val_mae: 50301.9844
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49575.0352 - mae: 49575.0352 - val_loss: 50304.0469 - val_mae: 50304.0469
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50111.1445 - mae: 50111.1445 - val_loss: 50304.0156 - val_mae: 50304.0156
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49461.2656 - mae: 49461.2656 - val_loss: 50294.9336 - val_mae: 50294.9336
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49526.0508 - mae: 49526.0508 - val_loss: 50297.0156 - val_mae: 50297.0156
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49447.8789 - mae: 49447.8789 - val_loss: 50295.0117 - val_mae: 50295.0117
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49391.7148 - mae: 49391.7148 - val_loss: 50293.8945 - val_mae: 50293.8945
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49619.6484 - mae: 49619.6484 - val_loss: 50282.2148 - val_mae: 50282.2148
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49213.5352 - mae: 49213.5352 - val_loss: 50287.2109 - val_mae: 50287.2109
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49843.2188 - mae: 49843.2188 - val_loss: 50293.8398 - val_mae: 50293.8398
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49637.9922 - mae: 49637.9922 - val_loss: 50295.1289 - val_mae: 50295.1289
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50056.3828 - mae: 50056.3828 - val_loss: 50297.6328 - val_mae: 50297.6328
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49563.9336 - mae: 49563.9336 - val_loss: 50290.7539 - val_mae: 50290.7539
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49638.9766 - mae: 49638.9766 - val_loss: 50285.3516 - val_mae: 50285.3516
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49115.2109 - mae: 49115.2109 - val_loss: 50303.8086 - val_mae: 50303.8086
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49532.5977 - mae: 49532.5977 - val_loss: 50298.8945 - val_mae: 50298.8945
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49321.0820 - mae: 49321.0820 - val_loss: 50302.7969 - val_mae: 50302.7969
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49578.1719 - mae: 49578.1719 - val_loss: 50295.9023 - val_mae: 50295.9023

In [18]:
# save the model
model.save('churn_model_regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [19]:
%load_ext tensorboard

In [20]:
%load_tensorboard --logdir logs_regression/fit

UsageError: Line magic function `%load_tensorboard` not found.